decorator==4.0.4
Django==1.9
django-leaflet==0.17.1
django-redis-cache==1.6.5
ipdb==0.8.1
ipython==4.0.1
ipython-genutils==0.1.0
jsonfield==1.0.3
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
psycopg2==2.6.1
ptyprocess==0.5
py==1.4.31
pytest==2.8.3
redis==2.10.5
simplegeneric==0.8.1
six==1.10.0
traitlets==4.0.0
wheel==0.24.0
